 {{extend 'layout_finale.html'}}

 <head>
 <script src="../../static/lib/codemirror.js"></script>
 <link rel="stylesheet" href="../../static/lib/codemirror.css">
 <script src="../../static/mode/clike.js"></script>
 <style>.CodeMirror {border: 3px solid #cccccc;}</style>
</head>


{{from uc_utils import shortify}}

{{=H4(T("Solution by "))}}
{{=H3(shortify(author) + " " +  prettydate(code.created_on))}}
<textarea id="code_body">
{{=code.body}}
</textarea>

{{=H3(T("Comments"), " (" , db(db.comment.code_id == code.id).count() , ")" , _style="color:green")}}

{{for i,comment in enumerate(comments):}}
{{user = db(db.auth_user.id==comment.created_by).select().first()}}
<div style="align: center; border: 1em dotted #fff;" class="hero-unit">
	<p>{{=B(shortify(user))}} {{=prettydate(comment.created_on)}}</p>
	{{=comment.body}}
</div>
{{pass}}

<div style="align: center;">
{{=H2(T("Post your comment!"), _style="color: green")}}
{{=form.custom.begin}}
<div>
{{=form.custom.widget.body}}
</div>
<input type="submit" class="btn btn-primary btn-large" value={{=T("Submit")}}>
{{=form.custom.end}}
</div>



<script type="text/javascript">
      var editor = CodeMirror.fromTextArea(document.getElementById("code_body"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-c++src",
        readOnly: true
      });
</script>

