/*!
 * Font para o site.
 */

@font-face {
  font-family: "Visitor";
  src: url("../font/visitor1.ttf") format("truetype");
}

.brand{
	font-family: "Visitor" sans-serif;
	font-size: 200%;
}

.uc_topbar{
	font-family: "Visitor" sans-serif;
	font-size: 140%;
}

h1, h2, h3 {
  font-family: "Visitor", sans-serif;
}

body {
	font-family: 'lucida grande', lucida, tahoma, helvetica, arial, sans-serif;
}

.hero-unit {
	font-size: 150%;
}
