/*!
 * Font para o site.
 */

@font-face {
  font-family: "Visitor";
  src: url("../font/visitor1.ttf") format("truetype");
}

.brand{
	font-family: "Visitor" sans-serif;
	font-size: 200%;
}

.uc_topbar{
	font-family: "Visitor" sans-serif;
	font-size: 140%;
}

h1, h2, h3 {
  font-family: "Visitor", sans-serif;
}

body {
	font-family: 'lucida grande', lucida, tahoma, helvetica, arial, sans-serif;
}

.hero-unit {
	font-size: 150%;
	align: center; 
	border: .5em dotted #fff;
}

.auth_navbar {
	font-family: "Visitor" sans-serif;
	font-size: 140%;
}

.nav > li > span > a:link 
{
  text-decoration: none;
  color: #999;
} 

.nav > li { margin-top: 8px;}

.nav > li > span > a:hover 
{
  text-decoration: none;
  color: #fff;
}

.nav > li > span > a:visited 
{
  text-decoration: none;
  color: #999;
}

.well {
	margin-left: -8px;
}

a:hover 
{
	text-decoration: none;	
}

